@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
  font-weight: 500;
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 700;
}

@mixin px-to-rem ($property, $pxValue) {
  #{$property}: ($pxValue / 16) + rem;
}

@mixin px-to-em ($property, $pxValue, $parentPxValue) {
  #{$property}: ($pxValue / $parentPxValue) + em;
}
